doctype html
head(lang="eng")
	title #{title}
	link(href="./index.css" rel="stylesheet")
body
	.container
		if title == '/'			
			for dir in dirs
				a.dir(href=dir)
					img.folder-icon(src="folder-icon.png")
					- let dirname = dir.split('/');
					- dirname = dirname[dirname.length - 1];
					div.folder-label #{dirname}
		else
			for image in images
				a(href=image)
					if image.split('.')[1] == "webm"
						video.media.video(controls autoplay loop muted preload="metadata")
							source(id="video-src" src=image type="video/webm")
					else
						img.media.image(src=image, target="_blank")
	if title != '/'
		a.back-btn(href="./") &#x2302;